<html>
<head>
    <title>
        Member
    </title>
</head>
<body>
<center>
    <h1>Member</h1>
    <table border="1", style ="text-align: center;">
        <tr>
            <td style="background-color: gold;"><b>아이디</b></td>
            <td>{{mem_id}}</td>
        </tr>
        <tr>
        <tr>
            <td style="background-color: gold;"><b>비밀번호</b></td>
            <td>{{mem_pass}}</td>
        </tr>
        <tr>
            <td style="background-color: gold;"><b>이름</b></td>
            <td>{{mem_name}}</td>
        </tr>
    </table>
</center>
</body>
</html>