<html>
<head>
    <title>
        Cart
    </title>
</head>
<body>
    <center>
    <h1>Cart</h1>
    <table border="1", style="text-align: center;">
        <tr>
            <td style="background-color: gold;"><b>회원아이디</b></td>
            <td>{{cart_member}}</td>
        </tr>
        <tr>
        <tr>
            <td style="background-color: gold;"><b>주문번호</b></td>
            <td>{{cart_no}}</td>
        </tr>
        <tr>
            <td style="background-color: gold;"><b>상품코드</b></td>
            <td>{{cart_prod}}</td>
        </tr>
        <tr>
            <td style="background-color: gold;"><b>수량</b></td>
            <td>{{cart_qty}}</td>
        </tr>
    </table>
    <a href="/oracle/cart_update_form?pcart_no={{cart_no}}&pcart_prod={{cart_prod}}">[수정]</a>
</center>
</body>
</html>