<html>
<head>
    <title>
        Cart List
    </title>
</head>
<body>
<center>
    <h1>Cart List</h1>
    <h4><a href="/oracle/cart_insert_form">[데이터 입력]</a></h4>
    <table border="1", style ="text-align: center;">
        <tr style="background-color:gold;">
            <th>회원아이디</th>
            <th>주문번호</th>
            <th>상품코드</th>
            <th>수량</th>
            <th>삭제</th>
        </tr>
        {% for data in df %}
        <tr>
            <td>
                <a href="/oracle/cart?pcart_no={{data.cart_no}}&pcart_prod={{data.cart_prod}}">
                    {{data.cart_member}}
                </a>
            </td>
            <td>{{data.cart_no}}</td>
            <td>{{data.cart_prod}}</td>
            <td>{{data.cart_qty}}</td>
            <td style="background-color: orange;">
                <a href="/oracle/cart_delete?pcart_no={{data.cart_no}}&pcart_prod={{data.cart_prod}}">
                [삭제]
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>