<html>
<head>
    <title>
        Cart List
    </title>
</head>
<body>
<center>
    <h1>Cart List</h1>
    <table border="1", style ="text-align: center;">
        <tr style="background-color:gold;">
            <th>회원아이디</th>
            <th>주문번호</th>
            <th>상품코드</th>
            <th>수량</th>
        </tr>
        {% for data in df %}
        <tr>
            <td>
                <a href="http://127.0.0.1:8000/oracle/cart?cart_no={{data.cart_no}}&cart_prod={{data.cart_prod}}">
                    {{data.cart_member}}
                </a>
            </td>
            <td>{{data.cart_no}}</td>
            <td>{{data.cart_prod}}</td>
            <td>{{data.cart_qty}}</td>
        </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>