<html>
<head>
    <title>
        Lprod
    </title>
</head>
<body>
    <center>
    <h1>Lprod</h1>
    <table border="1", style="text-align: center;">
        <tr>
            <td style="background-color: gold;"><b>순서</b></td>
            <td>{{lprod_id}}</td>
        </tr>
        <tr>
        <tr>
            <td style="background-color: gold;"><b>상품분류코드</b></td>
            <td>{{lprod_gu}}</td>
        </tr>
        <tr>
            <td style="background-color: gold;"><b>상품분류명</b></td>
            <td>{{lprod_nm}}</td>
        </tr>
    </table>
</center>
</body>
</html>